.cta{
    position: relative;
    max-width: 69.375rem;
    width: 90%;
    margin: 10rem auto;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    &__text{
        color: var(--color-grey-light);
        font-family: var(--heading-font);
        font-size: 3.3rem;
        font-weight: 300;
        max-width: 28.75rem;
        line-height: 1;
    }
    &__bg{
        position: absolute;
        top: 0;
        right: 0;
    }
}