.intro {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--color-primary) 0px,
    var(--color-primary) 37.5rem,
    white 37.5rem
  );
  color: var(--color-grey-light);
  &__group {
    display: flex;
    gap: 2rem;
    width: 90%;
    max-width: 69.375rem;
    margin: auto;
    padding-top: 6.25rem;
  }
  &__line {
    width: 9rem;

    &--light {
    }
    &--dark {
      margin-top: 3rem;
    }
  }
  &__info {
  }
  &__heading {
    font-family: var(--heading-font);
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 4.5rem;
  }
  &__text {
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  &__image {
    width: 100%;
  }
}
.images {
  &__left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
